@import url('https://fonts.googleapis.com/css?family=Text+Me+One');

:root{
    --bg: linear-gradient(35deg, #607D8B,#37474F);
    --bg-text: linear-gradient(35deg, #3023AE,#C96DD8);
    --base-color: #5bff75;
    --base-color: white;
    --border-radius: 3px;
}

html, body{
  height: 100%;
}

body{
    margin: 0;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.base-title{
    color:var(--base-color);
    font-weight: 100;
    line-height: 0.9; 
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Text Me One', sans-serif;

    background: linear-gradient(35deg, #3023AE,#C96DD8);
    background: -webkit-linear-gradient(35deg, #3023AE,#C96DD8);
    background: -moz-linear-gradient(35deg, #3023AE,#C96DD8);
    background: -o-linear-gradient(35deg, #3023AE,#C96DD8);
    background: var(--bg-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    
}

.base-title span{
  font-size: 30vmin;
}

.base-title small{
  font-size: 12vmin;
}

@supports not (-webkit-background-clip: text) {
  .base-title {
    color:transparent;
    background: url(0xBASE.png) center center/cover no-repeat;
  }
}



p{
  width: 400px;
  max-width: 100%;
  font-size: normal;
  margin: 15px 0;
  color: #a0a0a0;
}

.logo-wrapper{
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  flex-grow: 0;
}

.logo{
  width: 200px;
  height: 200px;
  background: linear-gradient(35deg, #3023AE,#C96DD8);
  background: var(--bg-text);
  -webkit-clip-path: url(#svgLogo);
  clip-path: url(#svgLogo);
  clip-rule: nonzero;
}

/* SIGNUP */
#mc_embed_signup{
  width: 400px;
  max-width: 100%;
}

.mc-field-group{
  display: flex;
  background: linear-gradient(35deg, #3023AE,#C96DD8);
  background: var(--bg-text);
  border-radius: 3px;
}

#mc-embedded-subscribe{
  background: transparent;
  font-size: medium;
  padding: 10px;
  color: white;
  border: 0 none;
  border-radius: 0;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

#mce-EMAIL{
  font-size: medium;
  padding: 10px;
  border-radius: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  margin: 2px;
  border: 1px solid transparent;
  flex-grow: 1;
}
